<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dating App</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Домой<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Списки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Сообщения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Выйти</a>
        </li>
      </ul>
      <div class="dropdown" *ngIf="loggedIn()">
        <a class="dropdown-toggle text-light" href="#">
          Добро пожаловать,
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Редактировать профиль</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Выход</a>
        </div>
      </div>
      <form #loginForm="ngForm" *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" required (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" placeholder="Логин"
        aria-label="Логин" required name="username" [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" placeholder="Пароль"
         aria-label="Пароль" required name="password" [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Войти</button>
      </form>
    </div>
  </nav>
</header>
